@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

 @import url('https://fonts.cdnfonts.com/css/miama');

 *{  font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: #FFFFFF;
 }
/* shared styles */
.bg-color-1{
    color:hsla(0, 0%, 100%, 0.569);
}
.display-flex{
    display: flex;
}
.navbar, 
.banner,
.calculator-container,
footer
{
background-color: #222222;
}
.navbar, 
.banner,
.training-section,
.habit-section,
.section-title-container,
.team-section,
footer
{
max-width: 1440px;
padding: 20px 100px; 
justify-content: space-between;
align-items: center;
}
.description{
    font-size: small;
    color:#ffffff91;
}
   .btn-1{
    background-color:#E6533C;
    border-radius: 45px;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
   }
   .section-title{
    font-family:"Inter";
    font-weight: 900px;
    font-size: 2.5rem;
   }
/* nav section start */
.brand{
    color:#E6533C;
    font-weight: 800; 
    font-size: 2.15rem;
    font-style: italic;
}
.nav-links{
list-style-type:none;
gap: 40px;
align-items: center;
    border:1px solid rgba(255, 255, 255, 0.1);
    padding:2px 2px;
    max-width:500px;
    max-height:45px;
    border-radius: 39px;
    padding-right: 20px;
}
/* banner section start */
#font-2{
    font-family: 'Miama', sans-serif;
    font-style: normal;
    font-size: 5.2rem;
}

.banner-title{
    font-weight: 900;
    font-size: 3.25rem;
line-height: 3.5rem;
}
.banner-img{
    position: relative;
    max-width: 50%;
    max-height: 50%;
}
.banner-btn{
    gap:10px;
}
.btn-2,
.btn-3{
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 25px;
    border-radius: 40px;
}
.btn-3{
    background-color: rgba(0, 0, 0, 0.24);
    border: 1px solid white;
}
.success-rate{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.glass{
    position: absolute;
    height: 80px;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 5px;
    backdrop-filter: blur(1px);
    margin: -800px 450px 0px 750px;
    border:none;
}
.glass-2{
    position: absolute;
    height: 80px;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 5px;
    backdrop-filter: blur(1px);
    margin: -250px 1050px 0px 750px;
    border:none;
}
.number,
.description{
    line-height: 1rem;
}
/* main section start */
.training-section,
.habit-section,
.section-title-container,
.team-section{
    background-color: #000000;
    background-size: 100%;
}
.habit-section{
    text-align: center;
}
/* change habit section start */
.habit-image{
    border-radius: 50%;
    border: 2px solid #222222;
}
.habit-section-container
{
    justify-content: space-between;
    align-items: center;
}
.habit-section-card{
    background-color: #222222;
    height: 300px;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-container{
    text-align: left;
}
.card-image>img{
 width: 270px;
 height: 40vh;
border-radius: 10px;
}
/* training section start */
.box-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);

}
.box{
    position:relative;
}
.box-container>.box>img{
    width: 250px;
    height: 200px;
}
.box-text{
    position: absolute;
    top:25%;
}
/* calculator section start */
.section-title-container{
    align-items: center;
}
.calculator-container{
    padding:20px 100px;
    justify-content: space-between;
    align-items:center;
    max-width: 1440px;
}
.calculator-form
{
    width:577px;
    height: auto;
}
/* team section start */
.team-section-card{
    background-color:#222222 ;
    display:grid;
    gap:20px;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding:20px;
    border-radius: 10px;
   
}
.card{
    position:relative;
}
.card>img{
    border-radius: 18px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.card-text{
    position: absolute;
    top:70%;
    left:5%;
    line-height: 5px;
}
.card>.card-text>h4{
    font-weight: 900;
    font-size: 1.25rem;
}
/* Footer section start */
.footer-container{
    justify-content: space-between;
    align-items: center;
}
.footer-items-1
{
    margin-bottom: 45px;
}
div> ul> li{
list-style: none;
color: #ffffff91;
margin-bottom: 10px;
}

.title-1{
    font-weight: 900;
    font-size: 3.4rem;
    color:#E6533C;
    font-style: italic;
    margin-bottom: 15px;
}
.title-2{
    font-weight: 600;
    font-size: 1.35rem;
    margin-bottom: 15px;
    margin-left: 30px;
}
.copyright{
    text-align: center;
    font-weight: 400;
    font-size: 1.35rem;
}
/* small device responsive */
@media screen  and (max-width:676px)
{
    .navbar, 
    .banner,
    footer
    { 
        margin: 10px 20px;
    }
  
    .banner-img{
        margin-right: 150px;
        margin-top: 30px;
    }
    .nav-links{
        display: none;
    }
    .banner,
    .footer-container{
        flex-direction: column;
    }
    .banner-btn{
        justify-content: space-between;
    }
.banner-title,
footer, .footer-container,
.description{
    text-align: left;
    max-width: 80%;
}
.banner-title{
    font-size: 2rem;
} 
.glass{
    margin: -950px 450px 0px 800px;
    
}
.glass-2{
    margin: -550px 750px 0px 750px;
}
}